<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClickPuli.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClickPuli.Settings1>
            <setting name="SelectUnderscore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectColon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectSemicolon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectPeriod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectExclamationMark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectQuestionMark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectQuotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectDoubleQuotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectComma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectSquareBrackets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectParentheses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectBraces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectChevrons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectHash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectHyphen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeTrailingSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCopy" serializeAs="String">
                <value>False</value>
            </setting>
        </ClickPuli.Settings1>
    </userSettings>
</configuration>