<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClickPuli.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClickPuli.Settings1>
            <setting name="stopOnUnderscore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stopOnColon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnSemicolon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnPeriod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnExclamationMark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnQuestionMark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnQuotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnDoubleQuotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnComma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnSquareBrackets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnParentheses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnBraces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnChevrons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnHash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopOnHyphen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="includeTrailingSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoCopy" serializeAs="String">
                <value>False</value>
            </setting>
        </ClickPuli.Settings1>
    </userSettings>
</configuration>